.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94%
}

ion-input.text-white {
    --background: rgba(54, 54, 243, 0.986);
    --border-color: rgb(54, 54, 243, 0.986);
}